/* @tailwind base;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  a {
    @apply text-blue-600 underline;
  }
} */

@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  padding: 20px;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style-type: none;
}

/* Tailwind's Base has a lot of conflicts with some Ant Design styles, but we like Base's input styling so we will add that back under form */
form [type='text'], form textarea, form select {
  background-color: #fff;
  border-color: #6b7280;
  border-width: 1px;
  border-radius: 0px;
  padding-top: 0.5rem;
  padding-right: 0.75rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  font-size: 1rem;
  line-height: 1.5rem;
}


/* Overriding tailwind preflight base styling which makes all btn bgs transparent and breaks ant button backgrounds */
.ant-btn-primary:not([disabled]) {
  background-color:theme('colors.primary') !important;
}
.ant-btn-dashed {
  background-color:inherit !important;
}
.ant-card-head-title {
  white-space: pre-wrap !important;
}

/* Can't figure out how to get the ConfigProvider + style token to style an Inner Card's header bg, so doing it custom here */
.action-card-completed .ant-card-head {
  background: rgba(0, 0, 0, 0.6);
  color: white;
}

svg { vertical-align: baseline; }

/*body {*/
/*  color: rgb(var(--foreground-rgb));*/
/*  background: linear-gradient(*/
/*      to bottom,*/
/*      transparent,*/
/*      rgb(var(--background-end-rgb))*/
/*    )*/
/*    rgb(var(--background-start-rgb));*/
/*}*/
